:root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#f3f3f3;
    --mainBlack:#232528;
    --mainYellow:#ffa400;
    --gray-dark: #343a40;
  
  }
  body{
    font-family: 'Oswald', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainBlack) !important;
  
  }
  .Text-titlel{
    font-family: 'Rakkas', cursive;
   font-size: 3rem;
    text-transform: uppercase;
    color:var(--mainWhite);
  }
  .Text-h4{
    font-family: 'Rakkas', cursive;
   font-size: 1.5rem;
    text-transform: uppercase;
    color:var(--mainWhite);
  }
  .text-blue{
    color: var(--mainBlue);
  }
  .text-bright{
    color:var(--mainWhite);
  }
  .btn-black{
    background:transparent;
    border-radius:0 !important;
    text-transform: capitalize;
    color: var(--mainBlack);
    border:0.1rem solid var(--mainBlack) !important;
    font-size: 0.8rem !important;
  
    ;
  }
  .btn-black:hover{
    background:var(--mainBlack) !important;
    color: var(--mainWhite) !important;
  }
  .cart-icon{
    cursor: pointer;
    color: var(--mainYellow);
    font-size: 1.2rem !important;
  
  }
  .search-btn{
    background:var(--mainBlack) !important;
    color: var(--mainWhite) !important;
    border-radius:0 !important;

   
  }
